.clear {
	clear:both;
}

.pwredirects-utilities {
  // Your styles here
  .value {
  	margin: 0 0 5px 0;

  	label {
  		display:inline-block;
  		width:55px;
  	}

  	input {
  		display: inline-block;
  	}
  }

	.umb-infobox {
		background: whitesmoke;
		border-radius: 3px;
		border: 2px solid #ececec;
		padding: 20px;
		position: relative;
		margin:30px 0;
	}

	.umb-era-button {
		margin:15px 15px 15px 0;
		display:block;
		float:left;
	}

	.umb-era-button {
		&.pull-right {
			float: right;
			margin: 15px 0px;
		}
 	}

	.list-icons {
		li {
			display:inline-block;
		}
	}

    /* PB: block list */
    .list-icons {
        li.ers-block {
            display: block;
            margin-bottom: 5px;
        }
    }

    /* PB: content picker link width */
    .ers-inline {
        display: inline-block;
    }

    .ers-preserve-checkbox {
        margin: 0px;
        padding: 0px;
        margin-bottom: 2px;
        margin-left: 17px;
    }

	i.icon.icon-delete {
		margin-left:15px;
	}

	.umb-table-body {
		background:#efefef;
	}
	
	.umb-table-row {
		&:hover {
			background:transparent;
			cursor:auto;
		}

	}

	.umb-table-cell {
		ul.unstyled {
			margin:20px 0;
		}
	}

	input[type="text"] {
		margin-bottom:0;
	}
}